In [1]:
import time
import pickle
import random
import pandas as pd

import numpy as np
import matplotlib.pyplot as plt

from sklearn.preprocessing import MinMaxScaler
import scipy.optimize as op

import copy

In [10]:
filename = 'CL=F.csv'
df = pd.read_csv(filename)
df.shape

(306, 7)

In [11]:
df.head()

         Date       Open       High        Low      Close  Adj Close    Volume
0  2019-05-06  61.430000  62.950001  60.040001  62.250000  62.250000  646866.0
1  2019-05-07  62.169998  62.490002  60.660000  61.400002  61.400002  768810.0
2  2019-05-08  61.439999  62.369999  61.070000  62.119999  62.119999  842810.0
3  2019-05-09  62.020000  62.209999  60.919998  61.700001  61.700001  791769.0
4  2019-05-10  61.639999  62.490002  61.419998  61.660000  61.660000  769583.0

In [12]:
df.tail()

,Date,Open,High,Low,Close,Adj Close,Volume
301,2020-05-01,19.040001,20.480000,18.070000,18.840000,18.840000,368386.0
302,2020-05-03,19.170000,19.530001,18.500000,18.610001,18.610001,1107707.0
303,2020-05-04,19.110001,21.420000,18.049999,19.780001,19.780001,286630.0
304,2020-05-05,21.809999,26.080000,21.610001,25.790001,25.790001,168837572.0
305,2020-05-06,24.430000,25.580000,24.139999,24.490000,24.490000,26697271.0